<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RWA</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">    <!-- START NAVIGATION BAR -->

        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">WebSiteName</a>

             </div>

            <div class="collapse navbar-collapse" id="myNavbar">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Make your own</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>

            </div>

        </div>

</nav>  <!-- FINISH NAVIGATION BAR -->


<div class="jumbotron"><!-- START JUMBOTRON -->

                <div class="row text-center">

                    <img class="img-responsive" src="https://wallpaperscraft.com/image/tree_reflection_water_night_106375_1600x1200.jpg" alt="Chania">

                    <h1>RWA</h1>

                    <h3>Rule Web Always</h3>

                    <p>Presenting luxurios and design inspirationed accessories for people who admire programming lifestyle</p>


                    <a class="btn btn-primary" href="#">Discover all</a>

                </div>


</div><!-- FINISH JUMBOTRON -->



<div class="container"><!-- START MAIN -->

  			<div class="mainrow">
    					<figure class="col-sm-3">
                		<p>Option of cryptocurrency payments</p>
                            <img class="img-responsive" src="https://wallpaperscraft.com/image/hand_card_money_online_purchase_laptop_80035_602x339.jpg" alt="Chania">
          		        </figure>

                        <figure class="col-sm-3">
                		<p>Always have everything in your hand with cloud</p>
                            <img class="img-responsive" src="https://wallpaperscraft.com/image/tablet_smart_phone_hi_tech_icons_hand_96123_602x339.jpg" alt="Chania">
          		        </figure>
  			</div>
            <div class="mainrow">
    					<figure class="col-sm-3">
          					<p>Combine your accessiores with your style</p>
                            <img class="img-responsive" src="https://wallpaperscraft.com/image/iphone_ipad_apple_watches_stylus_pen_style_99204_602x339.jpg" alt="Chania">
          		        </figure>

                        <figure class="col-sm-3">
          					<p>May your work speaks for you</p>
                            <img class="img-responsive" src="https://wallpaperscraft.com/image/laptop_room_on_the_desk_keyboard_mouse_apple_window_interior_73963_602x339.jpg" alt="Chania">
          		        </figure>
  			</div>

</div><!-- FINISH MAIN -->




<div class="footer"><!-- START FOOTER -->
  			<div class="footerrow">

                    <p class="col-sm-4"><p id="footer">&copy; 2016 RWA Limited</p>

                            <ul class="col-sm-8">
                                    <li class="col-sm-1">
                                        <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg">
                                    </li>

                                    <li class="col-sm-1">
                                        <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg">
                                    </li>

                                    <li class="col-sm-1">
                                        <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg">
                                    </li>

                                    <li class="col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg">
                                    </li>
          					</ul>
       </div>
</div><!-- FINISH FOOTER -->

    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>