<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RWA</title>
</head>
<form>
        <strong>Kalkulator</strong>

    <p>
        <form method="post">
        <input name="prvo_stevilo" placeholder="prvo_stevilo"/>

        <button type="submit">Potrdi svojo prvo stevilo</button>

        </form>

    </p>
    <p>

        <form method="post">
        <input name="druga_stevilka" placeholder="drugo_stevilo"/>

        <button type="submit">Potrdi svojo drugo stevilo</button>

        </form>
    </p>
    <p>

    <form method="post">
    <input name="racunska_operacija" placeholder="racunska_operacija">

    <button type="submit">Pritisni za svoj rezultat</button>

    </p>

</form></p>
</body>
</html>